.advert-title {
    text-transform: uppercase;
    text-align: center;
    @include title(35px, 42px, $main-font, 39px 0 17px, 400)
}

.advert-description {
    text-align: center;
    @include description(16px, 22px, $secondary-font, 0 0 75px, $description-color)
}

.advantages {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 82px;
}

.advantages__item {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    margin: 10px;
    padding: 7px 8px;

    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
        border-radius: 30px;
        background-color: rgba(217, 217, 217, 0.26);;
    }
}

.advantages__image-wrap {
    width: 110px;
    height: 104px;
    border-radius: 50%;
    background-color: $card-color;
    margin-right: 15px;
    position: relative;
}

.advantages__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.advantages__wrapper {
    flex: 1;
}

.advantages__title {
    @include title(20px, 27px, $secondary-font, 0 0 7px, 400)
}

.advantages__description {
    @include description(16px, 22px, $secondary-font, 0, $advantages-section-text)
}