.hero-title {
        font-size: 60px;
        line-height: 73px;
        color: $tertiary-text-color;    
        text-align: center;
        text-transform: uppercase;
}

.hero-description {
    font-size: 22px;
    line-height: 27px;
    color: $tertiary-text-color;
    text-align: center;

}