body {
    font-family: 'Cormorant Garamond', serif;
    height: 925px;
    background-image: url("../../images/macaron1.png"),
            url("../../images/macaron2.png"),
            url("../../images/macaron3.png"), 
            url('../../images/macaron4.png'),
            url("../../images/macaron5.png"), $linear;
    background-repeat: no-repeat;
    background-position: bottom 171px left 134px, bottom 207px right 146px, top 170px left 50px, top 115px right 0, bottom, center;
}

.container {
    padding-left: 75px;
    padding-right: 75px;
}